Source: crashmanager
Section: admin
Priority: optional
Maintainer: Alin Popa <alin.popa@fxdata.ro>
Build-Depends: debhelper (>=12~),
               libglib2.0-dev,
               libssh2-1-dev,
               libsqlite3-dev,
               libarchive-dev,
               libsystemd-dev,
               zlib1g-dev,
               meson (>= 0.40.0),
               ninja-build,
               pkg-config
Standards-Version: 4.1.3

Package: crashmanager
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Linux process crash manager
 Powerfull linux process crash dumper and crash manager.

Package: crashmanager-dbg
Section: debug
Priority: optional
Architecture: any
Depends: crashmanager (= ${binary:Version}),
         ${misc:Depends}
Description: Linux crash manager (debugging symbols)
 Debug package for crash manager including crashtest binary.

Package: crashmanager-dev
Section: devel
Priority: optional
Architecture: any
Depends: crashmanager (= ${binary:Version}),
         ${misc:Depends}
Description: Linux crash manager development extra
 Crash manager development files including epilog interfaces and library.
